# misc
__pycache__/
.DS_Store
*.log
secrets
persistent-folder
env.dev
celerybeat-schedule
docker-volumes/
mushroom-deployment-check/
deployment/docker-tag
deployment/.docker-tag
scratch.txt
model_experiments/
*.h5
